.nav-bar-body{
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
    color: blue;
    width: 100%;
    border-radius: 10px;
}
.text{
    font-size: 19px;
    width: 40%;
}
.text > p{
    text-align: center;
}
.nav-options{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-options a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    color: black;
}

.nav-options a.active {
    color: purple;
}