.fade-in-image{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    z-index: 1;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    position: relative;
    transition: ease-in 5s;
}
.fade-in-image > img{
    /* border: 2px solid red; */
    border-radius: 25% 5px 25%;
}
@keyframes fadeIn {
    0% { 
        opacity: 0; 
        left: -100px;
    }
    100% { 
        opacity: 1;
        left: 0; 
    }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.about-me{
    backdrop-filter: blur(10px);
    animation: fadeText 5s;
    position: relative;
}
@keyframes fadeText {
    0% { 
        opacity: 0; 
        right: -100px;
        backdrop-filter: blur(10px);
    }
    100% { 
        opacity: 1;
        right: 0; 
        backdrop-filter: blur(10px);
    }
}

.pattern{
    width: 110px;
    animation: transform-val 5s;
}
@keyframes transform-val{
    0%{
        transform: scale(0);
    }
}

.content{
    height: 400px;
    width: 400px;
    display: grid;
    place-content: center;
    padding: 20px;
    z-index: 1;
    border: 2px solid black;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    color: purple;
    /* font-size: 1.1em; */
    text-align: center;
    /* overflow-y: auto; */
}

.photo-link{
    width: 50%;
    display: grid;
    place-content: center;
    position: relative;
}
.about-me{
    width: 50%;
    display: grid;
    place-content: center;
    padding: 50px;
    position: relative;
    z-index: 1;
}